.bg-handen	{ background-color: #7B8D44; background-image: url('/bg/handen.jpg'); }
.bg-astrid-hek	{ background-color: #707976; background-image: url('/bg/astrid-hek.jpg'); }
.bg-boog	{ background-color: #7E8976; }
.bg-boog.zien	{ background-image: url('/bg/boog.jpg'); }
.bg-perron.zien	{ background-image: url('/img/perron.png'); }
.bg-bankje	{ background-color: #7A8578; }
.bg-bankje.zien	{ background-image: url('/bg/op-bankje.jpg'); }
.bg-gras	{ background-color: #6A7C59; }
.bg-gras.zien	{ background-image: url('/bg/in-gras.jpg'); }
.bg-radslag	{ background-color: #798474; }
.bg-radslag.zien{ background-image: url('/bg/radslag.jpg'); }
